.project-image-admin {
    max-width: 130px;
    margin-top: 5px;
}

table.table-admin {
    width: 100%;
    border-collapse: collapse;
}

table.table-admin th, td {
    text-align: center;
    border-bottom: 1px solid #bebebe;
}

table.table-admin td button {
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
}

table.table-admin td button:nth-child(1) {
    margin-bottom: 0;
}

table.table-admin td button:nth-child(2) {
    background-image: linear-gradient(to right top, #b80000, #c90400, #db0900, #ed0f00, #ff1400);
}

table.table-admin th {
    background-color: rgb(14, 14, 14);
    color: white;
    height: 30px;
}