table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 15px;
    padding: 100px 2% 0px;
}

td {
    border-radius: 5px;
}

td {
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

td h2 {
    margin: 0;
}

.title-contact {
    box-shadow: none !important;
    vertical-align: middle;
    font-size: 25px;
    padding-left: 5px;

    /* gradiemt */
    background: linear-gradient(to right top, #1135ff, #0aceff, #ff0aff, #ffd20a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: text-gradient 5s ease-in-out infinite alternate;
}

@keyframes text-gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.title-contact {
    background-color: transparent !important;
}

.sub-contact {
    padding: 15px;
    border-radius: 5px;
}

.logo-name {
    gap: 10px;
}

.follow {
    padding: 5px 10px;
    border-radius: 5px;
}

.ig {
    background-image: linear-gradient(to right top, #405de6, #0076ee, #008bef, #009eec, #40aee6);
    color: white;
}

.follow1 {
    margin-bottom: 10px;
}

.ig-pfp {
    width: 100px;
}

.ig-name1 {
    margin-bottom: 10px;
}

.comment {
    width: 100%;
}

#send svg {
    margin-top: 5px;
}

.see-comments {
    background-color: white;
    width: 100%;
}

.see-comments-container {
    padding-top: 0 !important;
}

.see-comments button {
    gap: 10px;
}

.see-comments i {
    margin-top: 3px;
}