.edit-about-all {
    height: 100vh;
    overflow: hidden;
}
.edit-about-all .aboutme-container .flex.align-item-center span {
    color: white;
}

.edit-about-all .aboutme-container .flex.align-item-center span::after {
    content: "\f4c9";
    font-family: "bootstrap-icons";
    position: absolute;
    opacity: 0;
    top: 5px;
    right: -20px;
}

.edit-about-all .aboutme-container .flex.align-item-center button:hover span {
    padding-right: 25px;
}

.edit-about-all .aboutme-container .flex.align-item-center button:hover span::after {
    opacity: 1;
    right: 0;
}

.edit-about-all .aboutme-container .flex.align-item-center span {
    display: inline-block;
    position: relative;
}

.edit-about-all .aboutme-container .sub-aboutme1 .deskripsi-container {
    margin-left: -100px;
}

.edit-about-all .aboutme-container .sub-aboutme1 .deskripsi-container button {
    position: absolute;
    padding: 5px 35px 5px 10px;
    border-radius: 5px;
    opacity: 0;
    z-index: 2;
}

.edit-about-all .aboutme-container .sub-aboutme1 .deskripsi-container:hover button {
    opacity: 1;
}


.edit-about-all .aboutme-container .sub-aboutme1 .deskripsi-container:hover p {
    opacity: 0.3;
}

.edit-about-all .aboutme-container .sub-aboutme1 .deskripsi-container button::after {
    content: "\f4c9";
    font-family: "bootstrap-icons";
    position: absolute;
    margin: 4px 0 0 10px;
}

/* edit image */
.edit-about-all .aboutme-container .sub-aboutme2:hover img {
    opacity: 0.5;
}

.edit-about-all .aboutme-container .sub-aboutme2:hover button {
    opacity: 1;
}

.edit-about-all .aboutme-container .sub-aboutme2 button::after {
    content: "\f4c9";
    font-family: "bootstrap-icons";
    position: absolute;
    margin: 4px 0 0 10px;
}

.edit-about-all .aboutme-container .sub-aboutme2 button {
    position: absolute;
    padding: 5px 35px 5px 10px;
    border-radius: 5px;
    opacity: 0;
    z-index: 3;
}

/* pop up */
.edit-about-all .sub-aboutme1 div>.flex {
    padding: 5px 10px !important;
    margin-right: 285px !important;
}

.edit-about-all .edit-about {
    position: relative;
    z-index: 2;
}

.aboutmeEdit-section {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.aboutmeEdit-section .about-header {
    margin: auto;
    padding: 0;
    width: 80%;
    border-radius: 10px;
}

.aboutmeEdit-section .about-header .about-title {
    padding: 15px;
}

.aboutmeEdit-section .about-header .about-title p {
    margin: 0;
}

.aboutmeEdit-section .about-header .about-title button>i {
    color: white;
}

.aboutmeEdit-section .about-header .about-title button:hover>i {
    color: rgb(255, 61, 61);
}

.aboutmeEdit-section form {
    background-image: linear-gradient(to right bottom, #ffffff, #fdfdfd, rgb(233, 233, 233));
    padding: 15px 18px;
    color: black;
}

.aboutmeEdit-section button[type=submit] {
    width: 100%;
}

.aboutmeEdit-section .gray-button {
    background-color: gainsboro;
    border-radius: 5px;
    cursor: no-drop;
}

.aboutmeEdit-section button[type="submit"].gray-button, 
.aboutmeEdit-section button[type="submit"].blue-button {
    padding: 5px 20px;
    margin: 10px 0;
}

.aboutmeEdit-section p {
    margin: 10px 0;
}

.aboutmeEdit-section p.top-label {
    margin: 0 0 10px;
}

.aboutmeEdit-section .sub-about1 {
    width: 100%;
    margin-right: 15px;
}

.aboutmeEdit-section input[type=text],
.aboutmeEdit-section textarea {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px 8px;
    width: 97%;
}

.aboutmeEdit-section textarea {
    margin: 0;
    height: 200px;
    resize: none;
}

.aboutmeEdit-section .sub-about2 {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    height: 410px;
    width: 697px;
}

.aboutmeEdit-section .about-image img {
    width: 100%;
    position: relative;
    max-height: 410px;
    max-width: 697px;
}

.aboutmeEdit-section .sub-about2 #aboutme-img {
    opacity: 0 !important;
    position: absolute;
}

.aboutmeEdit-section .edit-gambar {
    position: absolute;
    height: 410px;
    width: 403px;
    background-color: rgba(233, 233, 233, 0.5);
    opacity: 0;
}

.aboutmeEdit-section .edit-gambar:hover {
    opacity: 1;
}

.aboutmeEdit-section .sub-about2 label {
    padding: 10px;
    cursor: pointer;
}

/* loading */
.aboutmeEdit-section .loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 10px;

    height: 403px;
    width: 697px;
}

.loading::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 3px solid #007bff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}