boody {
    perspective: 1px;
    transform-style: preserve-3d;
}

.afterhero {
    margin-top: -10px;
}

/* parallax background */
section#hero-section {
    width: 100%;
    min-width: 120vh;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.parallax {
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}

.parallax,
.hero-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.05s linear;
}

/* grass part */
#front {
    z-index: 5;
}

#middle {
    z-index: 3;
}

#back {
    z-index: 2;
}

#sky {
    z-index: 1;
    top: auto;
    bottom: 0;
}

#sky1 {
    z-index: 0;
    top: auto;
    bottom: 0;
    background-image: url('/parallax-asset/desktop-1365x647/background.jpg');
}

/* hero section */
.hero-container {
    padding-top: 310px;
    color: white;
    position: relative;
    z-index: 4;
}

.hero-container h1 {
    font-size: 40px;
    line-height: 1.2;
}

.hero-container p,
h1 {
    margin: 0;
}

.hero-container a {
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    padding: 8px 8px 8px 14px;
    display: flex;
    align-content: center;
    width: fit-content;
    gap: 5px;
}

/* responsive */
/* huge monitor */
@media (min-width: 1366px) {

    /* parallax */
    #front {
        background-image: url('/parallax-asset/front-grass.png');
        background-position: top;
    }

    #middle {
        background-image: url('/parallax-asset/middle-grass.png');
    }

    #back {
        background-image: url('/parallax-asset/back-grass.png');
    }

    #sky {
        background-image: url('/parallax-asset/grass-background.png');
    }

    /* other elemen */

}

/* thin monitor */
@media (max-width: 1366px) {

    #front {
        background-image: url('/parallax-asset/desktop-1365x647/front-grass.png');
        background-position: center;
    }

    #middle {
        background-image: url('/parallax-asset/desktop-1365x647/middle-grass.png');
        background-position: center;
    }

    #back {
        background-image: url('/parallax-asset/desktop-1365x647/back-grass.png');
        background-position: center;
    }

    #sky {
        background-image: url('/parallax-asset/desktop-1365x647/background.png');
        background-position: center;
    }

}

/* width 1262 */
@media (max-width: 1263px) {
    #middle {
        background-image: url('/parallax-asset/desktop-1365x647/middle-grass.png');
        background-position: right;
    }
}

/* 700px */
@media (max-width: 800px) {
    section#hero-section {
        min-width: 100vw;
    }
}