
/* popup delete */
.blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.white-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.sub-popup p {
    margin: 0;
}

.popup-container {
    position: fixed;
    /* Ensure popup overlays are above the bottombar (which uses z-index:9999) */
    z-index: 10001;
    width: 100%;
    height: 100%;
    inset: 0;
}

.sub-popup-container {
    position: relative;
    z-index: 3;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    padding: 10px 10px !important;
    border-radius: 0!important;
}

.header button {
    margin: 0 !important;
    padding: 0 !important;
}

.header svg {
    margin-bottom: -6px;
    color: white;
}

.header svg:hover {
    color: red;
}

.header p {
    padding-left: 5px;
    margin: 0;
}

.sub-popup {
    background-image: linear-gradient(to left bottom, #ffffff, rgb(233, 233, 233));
    padding: 30px 30px 20px;
    text-align: center;
}

.popup-image img {
    width: 100px;
    position: relative;
    z-index: 4;
}

.popup-image svg {
    position: relative;
    color: red;
    z-index: 5;
    right: 30px;
    top: 20px;
}

.middle-popup {
    margin: 0 !important;
}

.popup-text p {
    margin-right: 5px ;
    text-align: left;
    color: #494949;
}

.popup-text span {
    font-weight: 600;
    color: black;
}

.gif {
    height: 170px;
    width: 240px;
    overflow: hidden;
    border-radius: 4px;
    background-image: url('/random-img/omni-man-are-you-sure.gif');
    background-size: cover;
    background-position: top;
    margin: 0 20px 15px 0;
}


.popup-text h2 {
    margin: 0;
    font-weight: 600;
}

.popup-text {
    margin-left: 15px;
}

.sub-logout > div.flex {
    margin: 20px 0 10px;
    gap: 20px;
}

.popbutton-container {
    padding-top: 15px;
}

.logout, .stay {
    padding: 5px 20px;
    border-radius: 5px;
}

.stay {
    color: #494949 !important;
    border: 1px solid #494949;
    margin: 0 10px !important;
}

.red-one button {
    margin: 0 !important;
}
