* .projects-page {
    box-sizing: border-box;
}

section.projects-page {
    background-color: whitesmoke;
    padding-top: 120px;
}

.projects-page .back {
    padding: 10px 20px 10px 15px;
}

.projects-page .project-header {
    padding-bottom: 30px;
}

.projects-page .back p {
    margin: 0;
}

.projects-page .project-header .filter-container {
    margin: 0;
}

.projectPage-container {
    padding: 0;
    column-count: 4;
    column-gap: 20px;
}

/* project User */
.projects-page .project-card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;

    background-color: white;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.projects-page .project-card:hover {
    transform: scale(1.02);
}

.projects-page .project-card:hover .sub-project-card {
    opacity: 1;
}

.projects-page .project-card .sub-project-card {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    position: relative;
    z-index: 2;
    margin-top: -119px;
    padding: 64px 10px 8px;
    opacity: 0;
}

button.project-card {
    padding: 0;
}

.project-card p {
    margin: 0;
}

.project-card h3 {
    margin: 0 0 -7px;
    font-weight: 500;
    text-align: left;
}

.project-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.projectPage-container .kategori {
    margin: 0;
    color: white;
}

.project-card .non-pkl {
    margin: 0;
    background-image: linear-gradient(to right top, #ff8e00, #ff9c00, #ffaa00, #ffb700, #ffc500);
    padding: 5px 20px;
    border-radius: 5px;
}

.project-card .kategori .non-pkl {
    margin: 0;
}

.project-card .sub-project-card {
    color: rgb(255, 255, 255);
    border: none;
}

.project-card .deskripsi {
    color: rgb(223, 223, 223);
    border: none;
}

/* pop */
.project-page .pop-project {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-page .pop-project .pop-content {
    width: 40%;
    background-image: linear-gradient(to left bottom, #ffffff, rgb(233, 233, 233));
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
}

.project-page .pop-project .pop-content .close-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.project-page .pop-project .pop-content .close-btn button>span {
    font-size: 18px;
    position: relative;
    top: -6px;
}

.project-page .pop-project .pop-content img {
    width: 50%;
    margin-right: 20px;
    border-radius: 5px;
}

.project-page .pop-project .pop-content .pop-text {
    width: 50%;
}

.project-page .pop-project .pop-content .pop-text h3 {
    font-weight: 500;
}

.project-page .pop-project .pop-content .pop-text p {
    margin: 0;
}

.project-page .pop-project .pop-content .pop-text .non-pkl {
    background-image: linear-gradient(to right top, #ff8e00, #ff9c00, #ffaa00, #ffb700, #ffc500);
    padding: 5px 20px;
    border-radius: 5px;
}