.skill-section {
    height: 70vh;
}

.skill-section h1 {
    text-align: center;
}

.skill-section p.sub-title {
    margin-bottom: 30px;
    color: rgb(107, 107, 107);
}

.skill-section p {
    margin: 0;
    text-align: center;
}

.skill-container {
    flex-wrap: wrap;
    justify-content: center;
}

.skill-section .sub-skill-container{
    flex: 15%;
    max-width: 15%;
    padding: 10px;
}

.skill-section .sub-skill-container:hover {
    transform: scale(1.1);
}

.skill-section .skill{
    background-color: white;
    border-radius: 5px;
    padding: 8px 6px;
    height: 130px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-section .skill > div {
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-section .skill p {
    font-size: 15px;
    margin-top: 15px;
}

.skill-section .skill img {
    width: 48px;
    display: block;
}

.skill-section .skill img.html {
    width: 46px;
    margin-top: 1px;
}

.skill-section .skill img.css-js {
    width: 43px;
}

.skill-section .skill img.mongodb {
    width: 62px;
    margin-top: -10px;
}

.skill-section .skill svg.illustrator {
    margin-top: -4px;
}